body {
    position: relative;
    height: 100vh;
    header {
        display: grid;
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,  url(/img/Background.png);
        background-size: cover;
        
        nav {
            
            padding: 32px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 900;
                font-size: 30.4px;
                line-height: 37px;
                color: #ffffff;
            }

            ul {
                display: flex;
                flex-direction: row;
                gap: 35px;
                align-items: center;


                .Submit {
                    border: 2px solid white;
                    display: unset;
                    position: absolute;
                    padding: 10px;
                    background-color:#B7B7B7;
                    opacity: 0.5;
                }
                
                a {
                    color: #ffffff;   
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    text-decoration: none;
                }

                button {
                    color: #ffffff;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    background-color: transparent;
                    border: 2px solid #FFFFFF;
                    border-radius: 10px;
                    padding: 5px 10px;
                }
            }
        }

        .textbox {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
            margin-left: 70px;
            margin-top: 220px;
            margin-bottom: 330px;

            .rectangle {
                width: 90px;
                height: 15px;
                background: #FFFFFF;
            }

            h1 {
                font-family: 'Libre Caslon Display';
                font-style: normal;
                font-weight: 400;
                font-size: 80px;
                line-height: 99px;
                color: #ffffff;
            }
            
            p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 30px;
                color: #ffffff;
            }

            button {
                color: #ffffff;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                background-color: transparent;
                border: 2px solid #FFFFFF;
                border-radius: 10px;
                padding: 5px 10px;
            }
        }
    }

    section {
        position: relative;
        height: 100vh;
        width: 100%;
        

        .heading {
            margin-top: 90px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 48px;
            color: #000000;
        }

        .cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;

            .card1 {
                width: 420px;
                display: flex;
                flex-direction: column;
                border: 1px solid #DDDDDD;
                border-radius: 4px;
                margin-top: 45px;


                .card-heading {
                    margin: 32px;

                    h6 {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 18px;
                        color: #B7B7B7;
                    }

                    h3 {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 25px;
                        line-height: 30px;
                        color: #000000;
                        margin-top: 25px;
                    }

                    a {
                        display: flex;
                        justify-content: end;
                        margin-top: 34px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 18px;            
                        color: #D9852C;
                        text-decoration: none;
                    }
                }
            }

            .card2 {

                width: 420px;
                display: flex;
                flex-direction: column;
                border: 1px solid #DDDDDD;
                border-radius: 4px;
                margin-top: 45px;


                .card-heading {
                    margin: 32px;

                    h6 {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 18px;
                        color: #B7B7B7;
                    }

                    h3 {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 25px;
                        line-height: 30px;
                        color: #000000;
                        margin-top: 25px;
                    }

                    a {
                        display: flex;
                        justify-content: end;
                        margin-top: 34px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 18px;            
                        color: #D9852C;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px){
    body {
        .textbox {
            h1 {
                font-family: 'Libre Caslon Display';
                font-style: normal;
                font-weight: 400;
                font-size: 50px;
                line-height: 62px;
            }
            p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 30px;
            }
        }
    }
    .navigation {
        display: none;
    }


    .heading {
        justify-content: center;
        display: flex;
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}